@font-face {
    font-family: Eczar;
    src: url("/resources/Eczar-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Eczar;
    font-weight: bold;
    src: url("/resources/Eczar-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Garamond;
    src: url('/resources/Garamond.ttf') format("truetype");
}

@font-face {
    font-family: Garamond;
    font-style: italic;
    src: url('/resources/Garamond-Italic.ttf') format("truetype");
}

@font-face {
    font-family: Futura;
    src: url('/resources/Futura.ttf') format("truetype");
}

@font-face {
    font-family: Indicia;
    src: url('/resources/Indicia.ttf') format("truetype");
}

:root {
    --theme-color-primary: rgb(240, 140, 7);
    --theme-color-secondary: rgb(243, 193, 7);
    --theme-color-primary-half-opacity: rgba(240, 140, 7, 0.5);
    --theme-color-text: rgb(255, 255, 255);
    --theme-color-bg-light: rgb(54, 54, 54);
    --theme-color-bg-dark: rgb(40, 40, 40);
    --theme-color-navbar: rgb(54, 54, 64);
    --theme-color-bg-darker: rgb(35, 35, 35);
    --theme-color-bg-lighter: rgb(84, 84, 84);
}
