@import url("/resources/css/gita-common.css");

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--theme-color-bg-darker);
    color: var(--theme-color-text);
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
}

.card {
    background-color: var(--theme-color-bg-light);
    font-family: Garamond;
    font-size: 1.4em;
    transition: all .2s ease-in-out;
    min-height: 128px;
}

.card-body:hover, .card:hover {
    transform: scale(1.05);
    background-color: var(--theme-color-text);
    color: var(--theme-color-bg-dark);
}
.gita-title
{
    font-size: 4.0em;
    font-family: Garamond;
    font-weight: bold;
    text-align: center;
}

.gita-title-sanskrit
{
    font-size: 3.0em;
    font-family: Eczar;
    font-weight: bold;
    text-align: center;
}

.gita-opening {
    font-family: Eczar;
    font-size: 1.0em;
    text-align: center;
}

.btn-index {
    background-color: var(--theme-color-primary) !important;
    border-radius: 25px;
    width: 64px;
    height: 64px;
}

.btn-index img {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 16px;
}

.chapter-title {
    display: inline-block;
}

.chapter-title-sanskrit {
    font-family: Eczar;
    font-size: 1.2em;
}

.chapter-title-english {
    font-family: Garamond;
    font-size: 0.8em;
}

.chapter-verses {
    position: absolute;
    bottom: 0;
    right: 1%;
    font-size: 0.8em;
    font-family: Futura;
}
.footer {
    text-align: center;
    font-family: Helvetica;
    font-size: 0.8em;
}