@import url("/resources/css/gita-common.css");

.navbar {
    color: var(--theme-color-text);
    background-color: var(--theme-color-navbar);
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1000;
    font-family: Garamond;
    font-size: 1.8em;
}

.navbar h2 {
    display: inline-block;
}

html {
    scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--theme-color-bg-dark);
    color: var(--theme-color-text);
}

.container {
    padding-top: 5%;
    padding-bottom: 3%;
}

.btn-nav {
    color: var(--theme-color-text);
}

.btn-close {
    background-color: var(--theme-color-text);
    border-radius: 25px;
}

.btn-nav:hover {
    background-color: var(--theme-color-primary);
}

.btn-verse-menu {
    background-color: var(--theme-color-primary) !important;
}

.btn-verse-menu:hover {
    background-color: var(--theme-color-bg-light) !important;
}

.card {
    border-radius: 25px;
    transition: all .3s ease;
    background-color: var(--theme-color-bg-light);
    color: var(--theme-color-text);
}

.card .card-footer {
    border-radius: 25px;
    background-color: var(--theme-color-bg-lighter);
    color: var(--theme-color-text);
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.sanskrit-verse {
    /* 
        This was added to help position the btn-transliteration as 
        position: absolute looks for the nearest parent with "position: relative" 
    */
    position: relative;
    text-align: center;
    font-family: Eczar;
    background-image: url('/resources/images/verse-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 3px #000;
    padding-block-start: 3%;
    padding-block-end: 5%;
    border-radius: 25px;
}


.word-meaning-verse {
    text-align: center;
    font-size: 1.2em;
    font-family: Garamond;
}

.translation-verse {
    text-align: center;
    font-size: 1.5em;
    font-family: Garamond;
}

.translation-verse.hi-text {
    font-family: Eczar;
}

.translation-verse.ta-text {
    font-family: ClassicalTamil;
}

.section-heading {
    text-align: center;
    font-family: Futura;
    font-weight: bold;
    font-size: 1.2em;
}

.sanskrit-word {
    display: inline;
    position: relative;
}

.sanskrit-word a {
    color: inherit;
    text-decoration: inherit; 
}

.sanskrit-word:hover {
    color: var(--theme-color-secondary);
    text-shadow: var(--theme-color-bg-darker);
    cursor: pointer;
}

.sanskrit-word:hover .sanskrit-word-meaning {
    visibility: visible;
    text-shadow: none;
}

.sanskrit-word .word-tlt {
    position: absolute;
    bottom: 0;
    left: 5%;
    margin: none;
    font-family: monospace;
    font-size: 16px;
    color: rgb(240, 140, 7);
    text-align: center;
    font-weight: bolder;
    transform: translateY(0.8em);
}

.progess-bar-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.progress-container {
    background-color: var(--theme-color-navbar);
    height: 3px;
    width: 100%;
}

.progress-bar {
    background-color: var(--theme-color-primary);
    height: 3px;
    width: 0%;
}

#verse_browser a {
    all: unset;
}

/* width */
.offcanvas-body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.offcanvas-body::-webkit-scrollbar-track {
    background: var(--theme-color-bg-dark);
}

/* Handle */
.offcanvas-body::-webkit-scrollbar-thumb {
    background: var(--theme-color-primary);
}

/* Handle on hover */
.offcanvas-body::-webkit-scrollbar-thumb:hover {
    background: var(--theme-color-bg-light);
}

.list-group-item {
    transition: all .1s ease-in-out;
    font-family: Helvetica;
    color: var(--theme-color-text);
    background-color: transparent;
    border: none;
    font-family: Verdana;
}

.offcanvas-header {
    background-color: var(--theme-color-bg-darker);
    font-family: Garamond;
}

.offcanvas-body {
    background-color: var(--theme-color-bg-dark);
    font-family: Futura;
}

#verse_browser .list-group-item:hover {
    cursor: pointer;
    background-color: var(--theme-color-primary);
}

.sidebar-button {
    position: fixed;
    top: 90%;
    left: 0;
    color: var(--theme-color-text) !important;
    background-color: var(--theme-color-primary) !important;
    border-color: var(--theme-color-primary) !important;
    opacity: 0.75;
}

.sidebar-button:hover {
    cursor: pointer;
    color: var(--theme-color-bg-darker) !important;
    background-color: var(--theme-color-primary);
}

.modal .modal-content {
    color: var(--theme-color-bg-dark);
}

/* Center the verse to page when a href'd */
.verse-anchor {
    position: absolute;
    transform: translateY(-200px);
}

/* For translation controls */
.nav-item .active {
    background-color: var(--theme-color-primary) !important;
    color: var(--theme-color-text) !important;
}

.nav-item a {
    color: var(--theme-color-text);
}

.nav-link {
    font-family: Futura;
}

.nav-item .nav-link:hover {
    background-color: var(--theme-color-text);
}

.nav-item a:hover {
    color: var(--theme-color-bg-dark);
}

#commentary-title {
    font-family: Futura;
}

#commentary-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    max-height: 700px;
}

#commentary-text i {
    background-color: yellow;
    font-style: normal;
    font-weight: bold;
}

/* Mobile */
@media (max-width: 700px) {
    .navbar h2 {
        font-size: 0.4em;
    }
    .sanskrit-word .word-tlt {
        visibility: hidden;
    }

    .sanskrit-verse {
        font-size: 1.0em;
    }
    
    .section-heading {
        font-size: 0.8em;
    }

    .translation-verse {
        font-size: 0.8em;
    }

    .word-meaning-verse {
        font-size: 0.8em;
    }
}